body { 
	color:#444;
	font-family: sans-serif; 
}
.donation_wrapper
{	
    background-color:#e3e8e8;
	width:	300px;
	min-height:	200px;
	padding: 10px;
	border: 1px solid rgb(64,64,64);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden;
}

.donation_purpose
{	
	margin-bottom: 15px;
	padding: 5px;
	font-size: .9em;
}

.donation_thermometer
{	
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ff8800;
	text-align:	center;
}

.donation_kind
{
	width: 43%;
	min-height: 44px;
	margin: 0 20px 10px 0;
	float:left;
	cursor:pointer;
}
.donation_kind_transfer a {
	text-decoration:none;
	font-size: .6em;
}

.donation_kind:last-child { margin-right: 0; }
.donation_kind_box img { width: 100%; }

.ju-multiprogressbar-valuetext { color:#333; }

.donation_off {
	display: none;
}

.donation_left {
    margin-left: auto;
    margin-right: 1em;
}

.donation_send_btn {
	cursor:pointer;
	right: 0px;
	width:	90px;
	min-height:	20px;
	padding: 10px;
	border: 1px solid rgb(64,64,64);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}